@charset "GBK";
/* CSS Document */


/*lostPassword忘记密码*/
.lostPassword{ height:360px;}
.modlyOK{ height:400px;}
.lostPassword{
	width:1200px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	margin: 0px;
	font-size: 14px;
}
.modly_buzhou{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.lostPassword li{
	display: block;
	width: 760px;
	line-height: 35px;
	float: left;
	margin-bottom: 18px;
	margin-left: 200px;
}
.lostPassword .r1,.lostPassword .r2,.lostPassword .r3{display: block;height: 35px;line-height: 35px;}
.lostPassword .r1{width: 180px;font-size: 16px;text-align: right;}
.lostPassword .r2{width: 230px;font-size: 14px;}
.lostPassword .r3{width: 340px;font-size: 12px;color: #999;}
.lostPassword .r4{font-size: 12px;color: #7C7C7C;margin-left: 180px;}
.lostPassword .r5{width:250px;top: 0px;right: -20px;}
.phoneT{ color:#0089f6;}

/*修改密码页*/
.modly_pass{ font-size:16px; margin:10px 20px;}
.modly_buzhou img{ margin:20px auto;}
.modly_mobli_yaz{ margin:10px 300px 20px 300px; }
.modly_yazhenha{width:220px; color: #666;padding-left:10px; height:35px; line-height:35px; border:1px solid #dbdbdb; -moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;behavior: url(pie.htc);position: relative}
.modly_get{width:100px; height:35px; line-height:35px;text-align:center; border-radius:4px; font-size:14px; background:#66aaf1; color:#FFF;cursor: pointer; display:block; text-decoration:none; }
.modly_get:hover{background:#008be7;text-decoration:none;}
.modly_get_back{width:150px; height:35px; line-height:35px;text-align:center; border-radius:4px; font-size:14px; background:#66aaf1; color:#FFF;}
.modly_get_back:hover{background:#008be7;}
.modly_mobli_yaz a{ font-size:14px;padding:5px 30px; color: #FFF; background:#66aaf1;border-radius:4px;}
.modly_mobli_yaz a:hover{background:#008be7;}

/*密码修改成功*/
.modlyOK li{
	display: block;
	width: 100%;
	line-height: 35px;
	float: left;
	margin-bottom: 18px;
	text-align: center;
	font-size: 14px;
	color: #666;
}
.modly_get1{ margin-left:auto; margin-right:auto;width:100px; height:35px; line-height:35px;text-align:center; border-radius:4px; font-size:14px; background:#66aaf1; color:#FFF;cursor: pointer; display:block; text-decoration:none; }
.modly_get1:hover{background:#008be7;text-decoration:none;}
.m1{margin-top: 40px;}