@charset "GBK";
/* CSS Document */

/*服务条款*/
.readPage{
	background-color: #FFF;
	overflow: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	behavior: url(pie.htc);
	/*add box-shadow*/
    -webkit-box-shadow: 0 2px 5px rgba(125,125,125,0.8);
	-moz-box-shadow: 0 2px 5px rgba(125,125,125,0.8);
	box-shadow: 0 2px 5px rgba(125,125,125,0.8);
}
/* .tit{line-height:20px; height:20px; text-align:center; font-size:24px; margin:10px 0px;border-bottom:1px dotted #dbdbdb; padding-bottom:20px;font-weight: bold;} */
.servers{ margin:40px 60px;; overflow:hidden;font-size:14px; line-height:25px;}
.servers a{
	text-decoration: none;
	color: #06C;
}
.servers a:hover{ text-decoration:underline;}
.servers h1{
	font-size: 16px;
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
}
.servers p{ margin-bottom:20px;}