body,html{
    margin: 0 auto;
    padding: 0 0;
}
page{
    width: 100%;
    height: 100%;
    background:#F7F7F7;
}
*{
    margin: 0;
    padding: 0 0;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
view{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #F7F7F7;
    font-weight:400;
    color: #333333;
    width:100%;
    height:100%;

}
.section{
    position: relative
}


/*search*/
.search_wrap {
    background: #fff;
    padding: 8px 10px;
}

.search_about {
    height: 32px;
    line-height: 30px;
    background: rgba(243, 243, 243, 1);
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
    margin: 0 10px;
}

.search_about .icon-search {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    padding-right: 5px;
}

.search_about .placeholder_input {
    display: inline-block;
    font-size: 14px;
    color: #999;
    vertical-align: middle;
}
.page-head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:99;
    background: #fff;
}
.nav {
    width: 100%;
    height: 38px;
    background: #fff;
}

.nav-scroll-x {
    white-space: nowrap;
}

.nav .nav-scroll-item {
    display: inline-block;
    height: 38px;
    padding: 9px 20px;
    font-size: 14px;
    color: #333;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav .nav-scroll-item.active {
    color: #1e77ce;
    -webkit-animation: all 500ms;
    -moz-animation: all 500ms;
    animation: all 500ms;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.nav .nav-scroll-item.active::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(78, 170, 253, 1)), to(rgba(8, 132, 254, 1)));
    background: -webkit-linear-gradient(left, rgba(78, 170, 253, 1) 0%, rgba(8, 132, 254, 1) 100%);
    background: -moz-linear-gradient(left, rgba(78, 170, 253, 1) 0%, rgba(8, 132, 254, 1) 100%);
    background: linear-gradient(90deg, rgba(78, 170, 253, 1) 0%, rgba(8, 132, 254, 1) 100%);
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.logo{
    padding: 35px 0;
    text-align: center;
}
.logo img{
    width: 116px;
    vertical-align: middle;
}
.logo span{
    display: inline-block;
    font-size: 16px;
    color: #636865;
    position: relative;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 3px;
}
.logo span:before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #636865;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -10px;
}
/* 列表 */
.tab-content {
    margin-top: 191px;
    background: #fff;
    width:100%;
    height:100%;
    padding: 0 0.625rem;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-overflow-scrolling:touch;
}
.content-scroll-y{
    overflow-y: scroll !important;
}
.panel-title {
    padding: 15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.panel-title-h {
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
}

.panel-head-action {
    height: 22px;
}

/* 标签 */

.label-btn-cir {
    display: inline-block;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px 10px;
    line-height: 1.45;
    border: 1px solid #fff;
    background: #fff;
    margin: 0;
}
.label-btn-cir.active {
    background: rgba(30, 119, 206, 0.08);
    color: #1e77ce;
}

.weui-btn + .weui-btn {
    margin: 0;
}

button::after {
    border: none;
}

.media {
    padding: 0 10px;
    background: #ffffff;
}

.media-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #F7F7F7;
    padding: 1.25rem 0.625rem;
}
.media-badge{
    /*-webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;*/
    margin-top: 4px;
}
.media-item-info {
    -webkit-box-flex:1;
    min-width:0;
    margin-left: 0.3125rem;
    width: 54%;
}
.media-item-name{
    font-size: 0.9375rem;
}
.media-item-time{
    font-size: 0.75rem;
    color: #666666;
}
.media-item-index{
    display: inline-block;
    font-size: 1.375rem;
    color: #1D77CD;
    margin-left: 0.3125rem;

}
.nowrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.more{
    font-size: 15px;
    color: #1E77CE;
    text-align: center;
    padding: 15px 0;
}
.inline-block{display: inline-block}
.block{display: block}
.text-center{text-align:center}
.fz11{font-size: 0.6875rem}
.fz12{font-size: 0.75rem}
.fz14{font-size: 0.875rem}
.fz15{font-size: 0.9375rem}
.fz16{font-size: 1rem}
.fz20{font-size: 1.25rem}
.fz22{font-size: 1.375rem}
.fz24{font-size: 1.5rem}
.fc_0{color: #000000}
.fc_3{color: #333333}
.fc_6{color: #666666}
.fc_9{color: #999999}
.fc_red{color: #D24C4C}
.fc_blue{color: #1E77CE}
.fc_green{color: #099E6C}
.bg_01{background: #F7F7F7;}
.pull-right{float:right}
.pull-left{float:left}
.padding-bottom-10{padding-bottom: 0.625rem}
.margin-top-15{margin-top:0.9375rem}
.margin-top-30{margin-top:1.875rem;}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
/* 标签 */
.badge{
    display:inline-block;
    width: 40px;
    padding:3px 7px;
    min-width:26px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color:rgba(36,121,7,0.08);
    color:#fff;
    line-height:1.45;
    text-align:center;
    font-size:12px;
    vertical-align:middle;
}
.badge-color1{
    background:rgba(36,121,7,0.08);
    color: #247907;
}
.badge-color2{
    background:rgba(235,109,2,0.08);
    color: #EB6D02;
}
.badge-color3{
    background:rgba(77,167,47,0.08);
    color: #4DA72F;
}
.badge-color4{
    background:rgba(19,89,171,0.08);
    color: #1359AB;
}
.badge-color5{
    background:rgba(107,58,58,0.08);
    color: #6B3A3A;
}
.badge-color6{
    background:rgba(188,101,3,0.08);
    color: #BC6503;
}
.badge-color7{
    background:rgba(34,82,75,0.08);
    color: #22524B;
}
.badge-color8{
    background:rgba(9,129,195,0.08);
    color: #0981C3;
}
.badge-color9{
    background:rgba(118,81,2,0.08);
    color: #765102;
}
.badge-color10{
    background:rgba(56,45,170,0.08);
    color: #382DAA;
}
.badge-color11{
    background:rgba(39,166,177,0.08);
    color: #27A6B1;
}
.badge-color12{
    background:rgba(134,47,148,0.08);
    color: #862F94;
}
.badge-color13{
    background:rgba(2,96,104,0.08);
    color: #026068;
}
.badge-color14{
    background:rgba(179,93,32,0.08);
    color: #B35D20;
}
.badge-color15{
    background:rgba(117,189,11,0.08);
    color: #75BD0B;
}
.badge-color16{
    background:rgba(27,122,254,0.08);
    color: #1B7AFE;
}
.badge-color17{
    background:rgba(105,21,21,0.08);
    color: #691515;
}
.badge-color18{
    background:rgba(163,2,2,0.08);
    color: #A30202;
}
.weui-progress__bar{
    background-color: #EBEBEB;
    height: 8px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.weui-progress__inner-bar{
    width: 0;
    height: 100%;
    background-color: #09BB07;
    -moz-border-radius:20px;
    border-radius:20px;
    margin: 0;
}
.weui-progress-blue1 .weui-progress__inner-bar{background-color:rgba(30,119,206,1);}
.weui-progress-blue2 .weui-progress__inner-bar{background-color: rgba(30,119,206,0.75);}
.weui-progress-blue3 .weui-progress__inner-bar{background-color: rgba(30,119,206,0.5);}
.md-tips{
    text-align: center;
    background: #ffffff;

}
.md-tips a{
    display: inline-block;
    padding: 1.25rem 0;
    color: #1E77CE;
    font-size: 0.9375rem;
    text-decoration: none;
}
.md-tips .md-tips-image{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.md-tips-text{
    font-size: 0.875rem;
    vertical-align: middle;
}
.wui-media-item{
    padding: 0.9375rem 0.625rem;
    border-bottom: 1px solid #F7F7F7;
}
.wui-media-item .wui-media-item-info{
    width: 95%;
    margin-bottom: 10px;
}
.wui-media-item-action{
    position: absolute;
    top: 0.3125rem;
    left: 0;
}
.text-right{
    text-align: right !important;
}
