.pading-left-5 {
    padding-left: 5px !important;
}

//黄色
.fc_canary_yellow {
    color: #fbf5a9;
}

.notes_grey {
    color: #a1a4a9;
}

//线条
.line15 {
    margin: 15px 0;
    height: 1px;
    width: 100%;
    background: #dedede;
}

.table_th th {
    background: #a3acbc;
    color: #FFFFFF;
    border: 0;
}

.input_color {
    border: 1px solid #9ab3e4 !important;
}

.line-h {
    width: 80.8% !important;
}
.text-decnone{
    text-decoration: none;
}
.table_odd {
    margin: 0;
    tr {
        &:nth-child(odd) {
            background-color: #F9F9F9;
        }
    }
}

.notes {
    font-size: 12px;
    margin-top: 5px;
}

.dis-nts {
    margin-left: 20px;
    margin-right: 5px;
}

.txt-left {
    padding-left: 10px;
    font-weight: normal;
}

.icon-zhekou {
    display: inline-block;
    width: 32px;
    height: 22px;
    background: url(../../../images/zhifu/icon_discount.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: -15px;
    right: -20px;
}

.modal {
    border-top: 0;
    border-radius: 5px;
}

.modalTwo .modal-right {
    border-left: 1px solid #dcdcdc;
}

.payment-num {
    width: 210px;
    height: 90px;
    border: 1px solid #DCDCDC;
    text-align: center;
    .payment-num-txt {
        margin: 12px 0 12px 0;
        font-size: 16px;
    }
}

.num-border {
    width: 90px;
    a {
        border: 1px solid #f18d00;
    }
}

.setcount {
    .number {
        border: 1px solid #f18d00;
        border-left: none;
        border-right: none;
    }
}

.pay-title {
    >h1 {
        font-size: 18px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

.pay-title .line {
    height: 1px;
    width: 70%;
    background: #DCDCDC;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.discount p:first-child {
    font-size: 12px;
    padding: 10px 0 10px 20px;
}

.discount{
    .agree {
      font-size: 14px;
      a{
          text-decoration: none;
      }  
    }
    
    
}

.PaymentAmount p:first-child {
    color: #f18d00;
    font-size: 16px;
    margin-bottom: 5px;
}


//订单支付页面

.orderLabel {
    label {
        margin-right: 25px;
        img {
            height: 25px;
        }
    }
}

.order-quan {
    display: inline-block;
    vertical-align: middle;
}

.inputList {
    padding: 0 5px;
}

.total {
    font-size: 16px;
    padding: 6px 0 20px 0;
}

.email {
    &>ul {
        &>li {
            &>a {
                padding: 0 10px;
                height: 38px;
                line-height: 38px;
            }
        }
    }
}

.email ul {
    li {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

.w-page {
    padding: 20px 40px;
    .tabs-menu {
        padding-left: 75px;
    }
    .w-content {
        padding: 20px 75px;
    }
}

.w-content-tit {
    position: relative;
    span {
        display: inline-block;
        width: 5px;
        height: 15px;
        background: #f18d00;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;
    }
    h1 {
        font-size: 18px;
        padding-left: 12px;
        margin-bottom: 20px;
        position: relative;
    }
}

.order-page {
    padding: 20px 40px;
    .crumb-nav {
        padding-left: 75px;
        border-bottom: 1px solid #dcdcdc;
        font-size: 14px;
        
    }
    .order-content {
        padding: 20px 75px;
        .order-table {
            >h3 {
                font-size: 16px;
                padding-left: 5px;
                margin-bottom: 10px;
            }
        }
        .orderLabel{
            input{
                width: 16px;
                height: 16px;
            }
        }
    }
}

//支付成功
.pay-success {
    margin-top: 160px;
    margin-bottom: 260px;
    text-align: center;
    &>img {
        vertical-align: top;
    }
    .pay-success-lf {
        display: inline-block;
        text-align: left;
        margin-left: 20px;
        &>p {
            font-size: 24px;
            margin-bottom: 15px;
        }
        .plast {
            font-size: 16px;
        }
        .pay-btn {
            .pay-btn-l {
                margin-right: 50px;
                border-bottom: 1px solid #f18d00;
            }
            li {
                float: left;
                font-size: 16px;
                a {
                    padding: 6px 0;
                    text-decoration: none;
                    color: #2d2d2d;
                }
            }
        }
    }
}

//产品购买
.panel-tit {
    padding: 20px 40px 0 40px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0;
}

.panel {
    border-top: 0;
}

.desc1 {
    td {
        padding: 15px 20px;
        font-size: 14px;
        text-align: left;
        i {
            margin-right: 10px;
        }
    }
    .tab-word {
        word-break: keep-all;
        white-space: nowrap;
    }
    .m2 {
        float: left;
        width: 55%;
        padding-top: 10px;
    }
    .m3 {
        float: right;
        width: 40%;
    }
    .val input {
        font-size: 14px;
        border: 0;
    }
}

.desc2 {
    tr {
        &:nth-child(even) {
            background-color: #FFFFFF;
        }
    }
    td {
        text-align: left;
        padding: 12px 30px;
        word-break: keep-all;
        white-space: nowrap;
        font-size: 14px;
    }
}

.productFooter {
    width: 100%;
    ul {
        margin: 20px 0;
        width: 100%;
        background: #b9a7af;
        .pf_first {
            padding-left: 15px;
            width: 11%;
        }
        li {
            float: left;
            padding-bottom: 20px;
            padding-top: 20px;
            font-size: 15px;
            width: 14.66%;
            color: #FFFFFF;
        }
    }
}

// 滑动插件颜色
.desc1 {
    .slider-box {
        .ui-widget-content {
            background-color: #FFFFFF;
            border: 1px solid #DCDCDC;
        }
        .ui-widget-header {
            background: #f6e0cf;
            border: 1px solid #f18d00;
        }
        .item {
            .slider {
                div {
                    .ui-slider-handle {
                        border: solid 1px #f18d00;
                        background: #f18d00;
                    }
                }
            }
        }
    }
}

//标题两侧图标
.title-icon {
    text-align: center;
    span {
        display: inline-block;
        position: relative;
        &:after {
            left: -60px;
            content: "";
            top: 0;
            position: absolute;
            background: url(../images/pro_icon_l.png);
            background-repeat: no-repeat;
            height: 31px;
            background-size: cover;
            width: 23px;
        }
        &:before {
            right: -60px;
            content: "";
            top: 0;
            position: absolute;
            background: url(../images/pro_icon_r.png);
            background-repeat: no-repeat;
            height: 31px;
            background-size: cover;
            width: 23px;
        }
    }
}

.pro-menu {
    padding-left: 75px;
    border-bottom: 1px solid #DCDCDC;
}

.tabs-menu {
    &:after {
        height: 0px;
    }
}

//微积分充值
.jf-icon-base {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.jf-num-icon {
    background: url(../images/jf_num_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.jf-num-icon2 {
    background: url(../images/jf_num_icon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.jf-content {
    ul {
        li {
            text-align: center;
            float: left;
            width: 21.9%;
            margin-left: 40px;
            .jf-item {
                border: 3px solid #e5e5e5;
                width: 100%;
                height: 100px;
                position: relative;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                float: right;
            }
            .jf-num {
                height: 50px;
                width: 100%;
                line-height: 50px;
                span {
                    vertical-align: middle;
                }
            }
            .num-border {
                display: none;
            }
        }
    }
    .act {
        .jf-item {
            border-color: #ef8c24;
        }
        .num-border {
            display: block !important;
        }
    }
}

.jf_linear {
    display: inline-block;
    width: 24px;
    height: 46px;
    background: url(../images/icon_linear.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

.jf-text {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 92%;
    height: 30px;
    background: url(../images/jf_icon_tixing.png);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 30px;
    color: #ffffff;
}

.jf_icon_chaozhi {
    display: inline-block;
    width: 46px;
    height: 36px;
    background: url(../images/jf_icon_value.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    top: -3px;
    right: -3px;
}

.jf-vs {
    padding: 0 60px 20px 60px;
    border-bottom: 1px solid #dcdcdc;
}

.jf-vs-center {
    width: 100%;
    height: 188px;
    background-color: #fff;
    float: left;
    .center {
        text-align: center;
        margin: 0 370px;
        height: 229px;
        line-height: 229px;
    }
}

.jf-vs-left,
.jf-vs-right {
    float: left;
    width: 370px;
}

.jf-vs-left,
.jf-vs-right {
    margin-left: -100%;
    text-align: center;
    img {
        margin-bottom: 10px;
    }
    .jf-vs-text {
        text-align: left;
        width: 370px;
        height: 180px;
        border: 1px solid #dcdcdc;
        padding: 30px;
        p {
            padding-bottom: 14px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.jf-vs-right {
    margin-left: -370px;
}

.jf-recharge {
    padding: 0 60px 20px 60px;
    ul {
        li {
            p {
                &:first-child {
                    padding-bottom: 10px;
                }
            }
            padding-bottom: 30px;
        }
    }
}


//用户中心积分明细

.user_jfr {
    color: #686868;
    margin-top: 3px;
    .user_jf_tit {
        background: #b9a7af;
        padding: 10px 0 10px 25px;
        color: #fff;
    }
    .user_jf_con {
        display: inline-block;
        background: #fff;
        clear: both;
        width: 100%;
        border: 1px solid #dedede;
        .user_jf_tabs {
            display: inline-block;
            position: initial;
            height: initial;
            li {
                height: initial;
                line-height: initial;
                font-size: 14px;
                text-align: center;
                display: inline-block;
                float: left;
                a {
                    float: left;
                    padding: 14px 0;
                    text-align: center;
                    width: 145px;
                    background: #a3acbc;
                    margin-right: 2px;
                    color: #fff;
                    font-size: 16px;
                    text-decoration: none;
                    &:after,
                    &:before {
                        height: 0;
                    }
                }
            }
            .active {
                a {
                    background: #FFFFFF;
                    color: #f18d00;
                }
            }
        }
        .user_jf_time {
            padding: 12px 15px;
            font-size: 14px;
            border: 1px solid #9ab3e4;
            float: right;
        }
        .user_jf_table {
            table {
                th {
                    background-color: #edeef2;
                    border-bottom: solid 1px#eaeaea;
                    border-top: solid 1px #eaeaea;
                    text-align: left;
                    padding-left: 50px;
                }
                td {
                    text-align: left;
                    padding-left: 50px;
                }
            }
        }
    }
    .dis_sh {
        display: block;
    }
    .dis_hi {
        display: none;
    }
}