<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miduchina.wrd.api.mapper.order.OrderExportRelationMapper">
    <select id="findOrderExportStatus" resultType="com.miduchina.wrd.po.order.OrderExportRelation" >
        <![CDATA[
            SELECT
            oer from order_export_relation as oer, order_record as o
            WHERE
            o.order_record_id=oer.order_record_id,
            AND oer.order_record_id>0,
            AND oer.export_task_status=0
            AND o.user_id = #{userId}
            AND oer.status=1
            AND o.pay_status=1
            ORDER BY oer.id


        ]]>

    </select>

    <insert id="saveOrUpdateOrderExport" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
           INSERT INTO
				order_export_relation(
                    order_record_id,
                    condition_id,
                    status,
                    create_time,
                    update_time,
                    export_task_status
				)
			VALUES
				(
				#{orderRecordId},
				#{conditionId},
				#{status},
				now() ,
				#{updateTime},
				#{exportTaskStatus}
				)
        ]]>
    </insert>



</mapper>